@{
    ViewBag.Title = "Alert";
}

<h1>Alert view</h1>
<div class="form-btn">
    <button id="alert-btn" class="btn btn-default" type="button">Alert</button>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/Custom/custom.js")
}